<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <style type="text/css">
     table, td, th {  
     border: 1px solid #ddd;
     text-align: left;
   }
   
   table {
     border-collapse: collapse;
     width: 50%;
    
   }
   .table-data{
       position: relative;
     left:50px;
     top:50px;
   }
   th, td {
     padding: 15px;
   }
 </style>
</head>
<body>
<center>
<h1>Students Data</h1></center>
<form method="POST" action="/loginAdmin/search">
    <input  style="margin-left: 25%;"  type="text" name="name" placeholder="Search The Student">
    <button type="submit">Submit</button>
  </form>    
  <div class="table-data">
    <table border="1" >
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
        <%
        for (let x in userData){
            for (let y in userData[x]){
        %>
        <tr>
            <td><%=userData[x].name %></td>
            <td><%=userData[x].email%></td>
            <td><a href="/edit">Edit</a></td>
            <td><a href="/delete">Delete</a></td>
        </tr>
        <% break}} %>
    </table>
    </div>
</body>
</html>