<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body style="margin-top: 18%;background-image: url('https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');background-size: cover;">
    
    <center>
        <h1>Admin Login</h1><br><br>
        <form method='POST' action="/loginAdmin">
            Email: <input type="text" name="email"><br><br>
            Password: <input type="password" name="password"><br><br>
            <input type="submit" title="Submit" value="Submit"><br><br>
            <a href="/signupAdmin">Create An Account</a><br><br>
        </form>
    </center>
</body>

</html>