<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>

<body style="margin-top: 18%;background-image: url('https://images.pexels.com/photos/4700/nature-forest-moss-leaves.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');background-size: cover;" >
    
    <center>
        <h1>Admin SignUp</h1><br><br>
        <form method='POST' action="/signupAdmin">
            Email: <input type="text"  name="email"><br><br>
            Full Name: <input type="text" name="name"><br><br>
            Password: <input type="password"  name="password"><br><br>
            <input type="submit" title="Submit" value="Submit">
        </form>
    </center>
</body>

</html>