<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin-top: 18%;background-color: aqua;" >
    
    <center>
        <h1>Edit Section</h1><br><br>
        <form method='POST' action="/edit">
            Email: <input type="text"  name="email"><br><br>
            Full Name: <input type="text" name="name"><br><br>
            Password: <input type="password" name="password"><br><br>
            <input type="submit" title="Submit" value="Submit">
        </form>
    </center>
</body>

</html>