<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <style type="text/css">
     table, td, th {  
     border: 1px solid #ddd;
     text-align: left;
   }
   
   table {
     border-collapse: collapse;
     width: 50%;
    
   }
   .table-data{
       position: relative;
     left:50px;
     top:50px;
   }
   th, td {
     padding: 15px;
   }
 </style>
</head>
<body>
<center>
<h1>Your Info</h1></center>
    <div class="table-data">
    <table border="1" >
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
        <%
        if(userData.length!=0){
        for (let x in userData){
        %>
        <tr>
            <td><%=userData.name %></td>
            <td><%=userData.email%></td>
            <td><a href="/edit">Edit</a></td>
            <td><a href="/delete">Delete</a></td>
        </tr>
        <% break}} else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
  
</body>
</html>