<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body style="margin-top: 18%;background-image: url('https://images.pexels.com/photos/490466/pexels-photo-490466.jpeg?cs=srgb&dl=pexels-nextvoyage-490466.jpg&fm=jpg');background-size: cover;">
    <center>
        <h1>Student Login</h1><br><br>
        <form method='POST' action="/login">
            Email: <input type="text" name="email"><br><br>
            Password: <input type="password" name="password"><br><br>
            <input type="submit" title="Submit" value="Submit"><br><br>
            <a href="/signup">Create An Account</a><br><br>
            <a href="/loginAdmin" >Admin Login</a>
        </form>
    </center>
</body>

</html>